@import "../imports/variables.css";
@import "../imports/nav.css";
@import "../imports/headers.css";
@import "../imports/footer.css";

.workplace_container {
  display: flex;
  justify-content: center;
  margin: 0 auto 0;
  max-width: 1280px;
  padding: 6rem 0 6rem;
}

/* WORKPLACE CONTENT */
.content-cards {
  align-items: center;
  display: grid;
  gap: 0 1.875rem;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  position: relative;
}

/* Workplace "cards" */
.content-cards .work-content {
  background-color: var(--background-color);
  border-radius: 1rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 450px;
  position: relative;
  width: 400px;
}

/* Workplace image content */
.work-content img {
  border-radius: 0.25rem;
  filter: brightness(50%);
  height: var(--default-width);
  object-fit: cover;
  object-position: center;
  transition: 0.3s ease-in;
  width: var(--default-width);
}

.work-content:hover img {
  border-radius: 1rem 1rem 0 0;
  filter: brightness(100%);
  height: 115px;
  width: var(--default-width);
}

/* Line decoration inside text content */
hr {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
}

/* Workplace text content */
.info-content {
  bottom: 1.25rem;
  color: var(--background-color);
  left: 1.563rem;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.info-content .info-text {
  display: none;
}

.info-content h2 {
  letter-spacing: 0.1rem;
}

.info-text p {
  color: var(--paragraph-color);
  padding-right: 0.75rem;
  padding-top: 0.75rem;
}
  
/* Content hover-effect(s) */
.work-content:hover .info-content {
  color: var(--text-color);
  height: 600px;
  left: 0.938rem;
  top: 7.813rem;
}

.work-content:hover .info-text {
  display: block;
  margin-right: 1rem;
}

@media (max-width: 1280px) {
.workplace_container {
  padding: 6.25rem 0 9rem;
 }
.content-cards {
  grid-template-columns: 1fr 1fr;
  grid-gap: 2.5rem;
 }
}
@media (max-width: 1024px) {
.workplace_container {
  padding: 2.5rem 0 7rem;
 }
.content-cards .work-content {
  width: 320px;
  height: 600px;
 }
hr {
  margin-bottom: 1.5rem;
 }
.info-content {
  padding: 0.75rem;
 }
.info-content h2 {
  font-size: 1.9rem;
  margin-top: 1.5rem;
 }
.work-content:hover img {
  height: 135px;
 }
.content-cards {
  grid-template-columns: 1fr 1fr;
  gap: 2.5rem;
 }
}
@media (max-width: 768px) {
.workplace_container {
  padding: 1rem 0 5rem;
 }
.content-cards {
  grid-template-columns: 1fr;
 }
.content-cards {
  gap: 3.438rem;
 }
}